body {
    width: 100%;
    height: 100vh;
    margin: auto;
}

h1 {
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "roboto";
    font-weight: 700;
    font-size: 36px;
    width: 300px;
    color: #75B79E;
}

.game-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: inherit;
    height: inherit;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;


}

.card {
    width: 117px;
    height: 146px;

    position: relative;
   
    flex-shrink: 0; 

}

img {
    width: 100px;
    height: 100px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.click .back-face {
    transform: rotateY(0deg);
}

.click .front-face {
    transform: rotateY(-180deg);
}

.clicado .back-face {
    transform: rotateY(0deg);
}

.clicado .front-face {
    transform: rotateY(0deg);
}

@media (max-width: 335px) {

    .game-container{
        height: 629px;
        overflow: scroll;
    }

    .cards-container {
        flex-direction: column;

    }
}
